.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db83; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 4s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
